---
import Center from "../components/base/Center.astro";
import Icon from "../components/base/Icon.astro";
import Boilerplate from "../layouts/Boilerplate.astro";


const rawPosts = await Astro.glob("./posts/*.mdx");
const search = Astro.url.searchParams.get("q") || "";

const posts = rawPosts
  .filter((post) => !post.frontmatter.draft)
  .map((post) => {
    return {
      url: post.url ?? "/",
      data: post.frontmatter,
    }
  });

const filteredPosts = posts.filter((post) => {
  return post.data.title.toLowerCase()
      .includes(search.toLowerCase()) 
    || 
      post.data.description.toLowerCase()
        .includes(search.toLowerCase());
});

// sort posts in decscending order of date
filteredPosts.sort((a, b) => {
  return a.data.date < b.data.date ? 1 : -1;
});





const keywords = [
  "hull",
  "computer",
  "science",
  "society",
  "hcss",
  "hcssoc",
  "hull",
  "university",
  "students",
  "student",
  "union",
  "hull",
  "css",
  "society",
  "computer",
];
---

<Boilerplate
  title="Hull Computer Science Society"
  description="This is the Hull Computer Science Society website."
  keywords={keywords}
  header={true}
  footer={true}
>
  <div id="blog_main">
    <div class="blog_search">
      <Center id="search">
          <form action="/blog" method="get">
          <input type="text" name="q" placeholder={search || "Search..."} value="" />
          <button type="submit">
            <Icon icon={{code: "f002", bold: true}}/>
          </button>
        </form>
      </Center>
    </div>
    <div class="blog_posts">
      {
        filteredPosts.map((post) => (
          <div class="blog_post" id={ post.url.split("/").pop() }>
            <h2>
              <span class="blog_post_hash">#</span>
              <a href={post.url}>
                <span class="blog_post_title">{post.data.title}</span>
                { /* <span class="blog_post_link"><Icon icon={{code: "f0c1", bold: true}}/></span> */ }
              </a>
            </h2>
            <p>
              {post.data.description}
            </p>
            <h3><em>
              <span class="blog_post_author"> By: <a href={post.data.link}> @{post.data.author.replace(" ", "_").toLowerCase()}</a> </span>
              <span class="blog_post_date"> ({post.data.date}) </span>
            </em></h3>
          </div>
        ))
      }
    </div>
  </div>
</Boilerplate>

<script>
  document.addEventListener("keydown", (e) => {
    if (
      e.key === "k" && (e.metaKey || e.ctrlKey) || 
      e.key === "/"
    ) {
      e.preventDefault();
      document.querySelector("input")?.focus();
    }

  });
</script>
