---

export interface Props {
    href: string;
    icon: string;
    text: string;
    id: string;
}

const props = Astro.props

---

<a href={props.href}>
    <div class="social-button" id={props.text}>
        <div class="social-button-icon">
            <img src={props.icon} alt={props.text}/>
        </div>
        <div class="social-button-span">
            <span>{props.text}</span>
        </div>
    </div>
</a>

